*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
.gradiant_div{
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}
.hex_btns{
    display: flex;
    flex-wrap: wrap;
    button{
        padding: .8rem 2.5rem;
        font-size: large;
        background-color: rgba(243, 235, 235, 0.43);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    } 
}
.gr_types_btns button,
.hex_btns button{
    margin: 1rem;
    border-radius: 3rem;
    color: white;
    border: none;
    
}
.hex_btn_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7px 4px;
    button{
        width: 12rem;
        height: 4rem;
        font-size: 1.8rem;
        text-shadow: 1px 1px 1px gray;
    }
    input{
        width: 13rem;
    }
}
.gr_types_btns{
    button{
        background-color: black;
        padding: 1rem 3rem;
        font-size: 1.4rem;
    }
}
.linear_selector{
    padding: .8rem;
    font-size: larger;
    margin: .5 1.3rem;
    border-radius: 2.0rem;
}
.gradiant_info{
    display: flex;
    background: rgba(243, 235, 235, 0.43);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    color: black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1.5rem;
    font-family: sans-serif;
    font-size: 1.8rem;
}

.utitlities button{
    background: none;
    border: none;
}

.utilitiesImg{
    width: 3.5rem;
    margin: 0px 2px;
}

.utilitiesImg:hover{
    scale: 1.13;
}

@media (max-width: 400px) {
    html{
        font-size: 9px;
    }
}

@media (max-width: 320px) {
    html{
        font-size: 8px;
    }
    .gradiant_info{
        flex-direction: column-reverse;
    }
}

@media (max-width: 240px) {
    html{
        font-size: 7px;
    }
}